
* {
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    position: relative;
    background: #222725;
    width: 1200px;
}

section::before{
    position: absolute;
    content: '';
    background: linear-gradient(#6eee87,#5fc52e);
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: circle(20% at right 70%);
}
section::after{
    position: absolute;
    content: '';
    background: linear-gradient(#1dbde6,#f1515e);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: circle(20% at 10% 10%);
}

.container{
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 450px;
    background: rgba(34, 166, 242, 0.25);
    opacity: 0.5;
    backdrop-filter: blur(10px);
    transition: 0.5s;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}
.container .card:hover{
    opacity: 1;
}
.container .card .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .card .content .contentImg{
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border: 10px solid rgba(0, 0, 0, 0.514);
    border-radius: 50%;
    transition: 1s;
}
.container .card:hover .content .contentImg{
    border: 10px solid rgba(0, 0, 0, 0.8);
}
.container .card .content .contentImg img{
    position: absolute;
    width: 100%;
}
.container .card .content .contentText h2{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    line-height: 1.4em;
}
.container .card .content .contentText h2 span{
    display: inline-block;
    text-transform: initial;
    margin-top: 10px;
    font-weight: 300;
}
.container .card .icons{
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card .icons li{
    list-style: none;
    margin: 0 20px;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
}
.container .card:hover .icons li{
    transform: translateY(0px);
    opacity: 1;
}
.container .card .icons li a{
    color: white;
    font-size: 30px;
}
.container .card .icons li #icon2{
    font-size: 40px;
}
.container .card .icons li #icon1:hover{
    color: #257F4E;
}
.container .card .icons li #icon2:hover{
    color: orange;
}
.container .card .icons li #icon3:hover{
    color: #103F91;
}